/* UI inspired by: https://codepen.io/Sanamanel/pen/bGwWwMr */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f8f9fe;
    color: #141414;
}

form {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 1.2rem;
    min-width: 350px;
}

.form-item {
    width: 100%;
    /* after valid state */
    position: relative;
}

.form-input {
    background-color: #fff;
    border: 1px solid #e7e8fe;
    font-size: 1.2rem;
    width: 100%;
    height: 2.3rem;
    border-radius: 5px;
    padding: 0 2rem 0 1rem;
    outline: none;
}

.valid-icon {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.3rem;
    color: #28a745;
}

.error-msg {
    background: #e74c3d;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fceae7;
    font-size: 1.1rem;
    margin-top: 1rem;
    position: relative;
}

.error-msg::before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    right: 1.2rem;
    top: -0.5rem;
    background: #e74c3d;
    transform: rotate(45deg);
}

/* start state - hide validation */

.valid-icon {
    opacity: 0;
    transition: opacity 0.4s linear;
}

.invalid-item {
    height: 0;
    overflow: hidden;
    transition: height 0.4s linear;
}

/* valid state - hide valid items */

.form-input.valid {
    border-color: #28a745;
}

.form-input.valid ~ .valid-icon {
    opacity: 1;
}

/* invalid state - hide invalid items */

.form-input.invalid {
    border-color: #e74c3d;
}

.form-input.invalid ~ .invalid-item {
    height: 100%;
    height: 3.3rem;
}

